.cards-container{
    position: relative;
    display: flex;
    justify-content: center;
}
.card-wrapper{
    position: absolute;
}

.btn{
    border-radius: 50%;
    font-size: 2rem;
    width: 5rem;
    height: 5rem;
}

.buttons-wrapper {
    margin-top: 36rem;
    display: flex;
    width: 25rem;
    justify-content: space-around;
}

.card-wrapper *{
    user-select: none;
}

.swipe-left{
    animation: fadeLeft .5s forwards;
}

.swipe-right{
    animation: fadeRight .5s forwards;
}

@keyframes fadeLeft {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(-300px,-100px) rotate(25deg);
    }
}

@keyframes fadeRight {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(300px,-100px) rotate(25deg);
    }
}