<div class="home">
    <div class="">
        <div *ngIf="!registerMode" style="text-align: center;">
            <h1 class="home-header text-gradient">
                Find your love here
            </h1>
            <div class="text-center home-container">
                <button class="home-btn btn btn-primary btn-lg me-2" routerLink="/login">Log in</button>
                <button class="btn" (click)="registerToggle()">Sign up</button>

            </div>
        </div>
        <div *ngIf="registerMode" class="container">
            <div class="row justify-content-center">
                    <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>
</div>