.main-nav-margin{
    margin-left: 30rem;
}

.rainbow-progress-bar{
    display: none;
}    

.main-container {
    top: 0;
    left: 0%;
    position: absolute;
    width: 100%;
    height: 100%;

    padding-top: 5rem;
}