@import "../../vars";

.dropdown-toggle, .dropdown-item{
    cursor: pointer;
}

img {
    max-height: 50px;
    border: 2px solid white;
    display: inline;
    border-radius: 50%;
}

.nav{
    margin: 0;
    padding: 0;
    left: 0;
    top:0;
    width: 20rem;
    height: 100vh;
    position: fixed;
    display: flex;
    
    background-color: rgba(163, 163, 163, 0.308);

    &-profile{
        top: 0;
        width: 100%;
        height: 5rem;
        background: radial-gradient(circle at 0 0, $color-primary 0%, $color-secondary 100%);
        display: flex;
        padding-left: 1rem;
        align-items: center;
        justify-content: space-between;
    }
     &-likes{
        margin-right: 1rem;
        float: right;
        font-size: 2rem;
     }
}