<form class="form-group login-form" #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
    <div>
        <h2 class="text-center text-gradient">Log in</h2>
        <hr>

        <input name="username" [(ngModel)]="model.username" class="form-control mb-2" type="text" placeholder="Username"
            aria-label="Search">
        <input name="password" [(ngModel)]="model.password" class="form-control mb-2" type="password"
            placeholder="Password" aria-label="Search">

        <div class="text-center">
            <button class="btn btn-primary mb-2" type="submit">Login</button>
        </div>
    </div>
</form>