.card {
    border: none;
    height: 35rem;
}

.chat{
    height: 25rem;
    overflow-y: scroll;
    list-style: none;
    margin:0;
    padding: 1rem;
    display: flex;
    flex-direction: column-reverse;
}

.chat li{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #b3a3ad3d;
}
.rounded-circle{
    max-height: 50px;
}
